$main-color: #171717;
$sub-color: rgb(167, 0, 0);
html {
  scroll-behavior: smooth;
}
body {
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  scroll-behavior: smooth;
  // word-break: keep-all;
  background-color: $main-color;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  cursor: default;
  &::-webkit-scrollbar {
    /* 스크롤바 막대 너비 설정 */
    width: 12px;
  }
  
  &::-webkit-scrollbar-thumb {
    /* 스크롤바 막대 높이 설정 */
    background-color: #555;
    // border-radius: 5px;
    &:hover {
      background-color: #444;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #171717;
  }

  /* 뒷배경설정 */
}
img {
  display: block;
}
.inner {
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: content-box;
}
a {
  text-decoration: none;
  color: unset;
}
// common


.loading-img {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  &.load {
    display: none;
  }
  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      width: 100px;
      height: 100px;
    }
    p {
      color: $sub-color;
      font-size: 14px;
    }
  }
}

header {
  .logo-fix {
    max-width: 1980px;
    width: 94%;
    height: 70px;
    display: flex;
    position: fixed;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 12px;
    box-sizing: border-box;
    // border: 1px solid #333;
    backdrop-filter: blur(1.5px);
    .ham-btn {
      transition: all .7s .15s ease-out;
      cursor: pointer;
      z-index: 999;
      &.ham-clicked {
        transform: rotate(360deg);
      }
      &.ham-clicked div span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      &.ham-clicked div span:nth-child(2) {
        opacity: 0;
      }
      &.ham-clicked div span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
      div {
        width: 25px;
        height: 20px;
        position: relative;
        span {
          width: 100%;
          height: 2px;
          display: block;
          background-color: #fff;
          position: absolute;
          transition: all .3s;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
          }
          &:nth-child(3) {
            bottom: 0;
          }
        }
      }
    }
    .logo {
      width: 40px;
      z-index: 99;
      transition: all 1s;
      &:hover {
        transform: scale(1.2);
      }
      img {
        width: 100%;
      }
      p {
        font-size: 11px;
      }
    }
  }
  .inner {
    width: 100%;
    max-width: 100%;
    position: fixed;
    background-color: $main-color;    
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height .6s ease-in-out; 
    overflow: hidden;
    z-index: 98;
    &.ham-clicked {
      height: 100vh;
    }
    
    .lnb {
      display: flex;
      flex-direction: column;
      li {
        a {
          display: block;
          padding: 12px 0;
          font-size: 5vw;
          text-align: center;
          color: #fff;
          font-weight: 600;
        }
      }
    }
    aside {
      margin-top: 15px;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
          width: 33%;
          a {
            color: #fff;
            display: block;
            padding: 0 4px;
            i {
              display: block;
              text-align: center;
              font-size: 26px;
            }
            span {
              display: block;
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

main {
  .section1-start-line {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    background-color: #999;
    transform-origin: center;
    transform: scaleX(0);
    opacity: 1;
    &.loading-end {
      display: none;
    }
    &.loading {
      transform: scaleX(1);
      transition: all .8s ease-in-out;
    }
  }
  .section1 {
    height: 100vh;
    box-sizing: border-box;
    padding: 100px 24px;
    background-color: $main-color;
    .inner {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      .section1-line {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        span {
          display: block;
          width: 2px;
          height: 100%;
          background-color: #444;
          position: absolute;
          transform: scaleY(0);
          transform-origin: center;
          &.loading {
            transform: scaleY(100%);
            transition: all 1.3s 1s ease-out;
          }
        }
      }
      .section1-text {
        .section1-text-top {
          white-space: nowrap;
          // text-transform: uppercase;
          h1 {
            position: absolute;
            &.section1-text-top-1 {
              right: -100px;
              top: 35%;
            }
            &.section1-text-top-2 {
              left: -100px;
              top: 35%; 
              margin-top: 8.5vw;
            }
            span {
              font-size: 17vw;
              display: inline-block;
              letter-spacing: -3px;
              transform: rotateX(20deg) rotateY(0deg) scale3d(-1, -1, -1);
              transition: all 1.5s 2.5s;
              opacity: 0;
              mix-blend-mode: difference;
              font-weight: 500;
              &.loading {
                transform: rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
                opacity: 1;
              }
            }
          }
        }
        .section1-text-bottom {
          width: 100%;
          position: absolute;
          top: 60%;
          left: 0;
          &.loading p span:first-child {
            transform: rotateX(0deg) rotateY(0deg);
            opacity: 1;
          }
          &.loading p span:last-child {
            transform: rotateX(0deg) rotateY(0deg);
            opacity: 1;
          }
          p {
            font-size: 16px;
            font-weight: 100;
            color: #ddd;
            span {
              display: block;
              
              opacity: 0;
              &:first-child {
                transform: rotateX(90deg);
                transition: all .5s 4s;
              }
              &:last-child {
                transform: rotateX(90deg) ;
                transition: all .5s 4.25s;
              }
            }
          }
        }
      }
    }
  }

  .section2 {
    padding-top: 50px;
    padding: 90px 24px 24px 24px;
    background-color: $main-color;
    .inner {
      .section2-1 {
        h2 {
          font-size: 14px;
          font-weight: 300;
          position: relative;
          display: inline-block;
          &::after {
            content: '';
            width: 20px;
            height: 1px;
            position: absolute;
            right: -32px;
            top: calc(50% - .5px);
            background-color: #fff;
          }
        }
        .section2-text {
          position: relative;
          >div {
            p:nth-child(1) {
              font-size: 16px;
              color: #999;
              font-weight: 300;
              margin: 24px 0;
            }
            p:nth-child(2) {
              font-size: 16px;
              font-weight: 200;
              line-height: 1.5;
            }
            &.section2-text-1 {
              padding-bottom: 40px;
              >div {
                display: flex;
                flex-direction: column;
                >div {
                  margin-top: 24px;
                  width: 150px;
                  height: 150px;
                  position: relative;
                  >div {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    background-color: #333;
                    border-radius: 50%;
                    top: 20px;
                    right: -30px;
                    font-size: 40px;
                    line-height: 70px;
                    text-align: center;
                    font-weight: 100;
                    z-index: 0;
                    span {
                      width: 10px;
                      height: 10px;
                      background-color: #333;
                      position: absolute;
                      bottom: 10px;
                      left: 3px;
                      transform: rotate(10deg);
                      z-index: 1;
                    }
                  }
                  img {
                    position: absolute;
                    width: 100px;
                    z-index: 10;
                  }
                }
                p {
                  // margin-top: 24px;
                  // width: calc(100% - 200px);
                  // margin-left: 50px;
                  color: #fff;
                  font-size: 16px;
                  font-weight: 200;
                  line-height: 1.5;
                }
              }
            }
            &.section2-text-2 {
              >div {
                display: flex;
                flex-direction: column;
                p {
                  display: block;
                  &:nth-child(1) {
                    >span {
                      width: 150px;
                      display: block;
                      margin-bottom: 10px;
                      i {
                        font-size: 24px;
                      }
                    
                      >span {
                        display: inline-block;
                        padding: 4px 6px;
                        border-radius: 2px;
                        font-size: 14px;
                        color: #fff;
                        text-align: center;
                        &.red {
                          background-color: rgb(179, 86, 0);
                        }
                        &.blue {
                          background-color: rgb(0, 52, 163);
                        }
                    
                        &.yellow {
                          background-color: rgb(145, 145, 0);
                        }
                    
                        &.blue-orange {
                          background: linear-gradient(125deg, rgb(92, 149, 172), rgb(211, 166, 83));
                        }
                      }
                    }
                  }
                  &:nth-child(2) {
                    font-size: 16px;
                    // margin: 24px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .section3 {
    padding: 90px 24px 24px 24px;
    background-color: $main-color;
    .inner {
      position: relative;
      >h2 {
        font-size: 14px;
        font-weight: 300;
        position: relative;
        display: inline-block;

        &::after {
          content: '';
          width: 20px;
          height: 1px;
          position: absolute;
          right: -32px;
          top: calc(50% - .5px);
          background-color: #fff;
        }
      }
      >h3 {
        margin: 24px 0;
      }
      >h4 {
        margin: 24px 0;
        color: $main-color;
        font-size: 16px;
        background: linear-gradient(25deg,#fff,#444,#fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-name: background-moving;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        background-size: 200%;
        font-weight: 300;
      }
    }  
      @keyframes background-moving {
        from {
          background-position-x: 0%;
        }
        to {
          background-position-x: 100%;
        }
      }
      .section3-content-box {
        margin-top: 50px;
        height: 100%;
        .section3-content {
          display: flex;
          position: relative;
          margin-bottom: 150px;
          >div {
            &:nth-child(1) {
              width: 30%;
              position: sticky;
              top: 120px;
              height: 100%;
              >div:nth-child(1) {
                font-size: 7vw;
                font-weight: 900;
                box-sizing: border-box;
                color: $main-color;
                text-shadow: -1px 0 #999,
                  0 1px #999,
                  1px 0 #999,
                  0 -1px #999;
              }

              >div:nth-child(2) {
                h3 {
                  font-size: 16px;
                  font-weight: 300;
                  padding: 12px 0;
                  border-bottom: 1px solid #666;
                  span {
                    color: rgb(212, 54, 54);
                    font-weight: 500;
                  }
                }

                p {
                  padding: 12px 0;

                  span {
                    display: inline-block;
                    font-size: 14px;
                    padding: 3px 6px;
                    border-radius: 6px;
                    margin-bottom: 6px;

                    &.red {
                      background-color: rgba(146, 54, 0, 0.966);
                    }

                    &.pink {
                      background-color: rgb(107, 0, 54);
                    }

                    &.yellow {
                      background-color: rgb(110, 110, 0);
                    }

                    &.blue {
                      background-color: rgb(0, 0, 92);
                    }
                    &.deepred {
                      background-color: rgb(214, 0, 0);
                    }
                  }
                }
              }
              >div:nth-child(3) {
                display: flex;
                flex-wrap: wrap;
                a {
                  font-size: 14px;
                  display: block;
                  position: relative;
                  padding: 8px 0;
                  margin-right: 10px;
                  &:hover::after {
                    transform: scaleX(1);
                  }
                  &:hover {
                    color: #999;
                    transition: all .2s;
                  }
                  &::after {
                    transition: all .3s;
                    content: '';
                    width: 100%;
                    height: .5px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                  }
                }
              }
            }
            &:nth-child(2) {
              width: 70%;
              margin-left: 24px;
              overflow: hidden;
              &:hover img {
                transform: scale(1.05);
                
              }
              img {
                transition: transform .3s ease-out;
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
  }
  
  .section4 {
    padding: 90px 24px 24px 24px;
    background-color: $main-color;
    .inner {
      h2 {
        font-size: 14px;
        font-weight: 300;
        position: relative;
        display: inline-block;
        &::after {
          content: '';
          width: 20px;
          height: 1px;
          position: absolute;
          right: -32px;
          top: calc(50% - .5px);
          background-color: #fff;
        }
      }
      
    }
  }


}



.section5 {
  background-color: $main-color;
  padding: 90px 24px 24px 24px;
  position: relative;
  .inner {
    width: 100%;
    height: 100%;
    h2 {
      font-size: 14px;
      font-weight: 300;
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      &::after {
        content: '';
        width: 20px;
        height: 1px;
        position: absolute;
        right: -32px;
        top: calc(50% - .5px);
        background-color: #fff;
      }
    }
    .text {
      font-size: 24px;
      font-weight: 500;
      margin: 20px 0;
      line-height: 1.3;
    }
    p {
      font-size: 20px;
      line-height: 1.7;
      margin: 20px 0;
      span {
        &.deepblue {
          color: rgb(74, 128, 228);
        }
        &.blue {
          color: rgb(64, 163, 255);
        }
        &.skyblue {
          color: rgb(173, 230, 253);
        }
        &.orange {
          color: rgb(224, 148, 86);
        }
      }
    }
  }
}

footer {
  // border-top: 1px solid #444;
  background-color: #222;
  .inner {
    padding: 0 24px;
    max-width: 1200px;
    box-sizing: content-box;
    p {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
    }
  }
}

@media (min-width:769px) {


  header {
    .logo-fix {
      .ham-btn {
        display: none;
      }
    }
    .inner {
      width: 94%;
      height: unset;
      flex-direction: row-reverse;
      position: fixed;
      justify-content: space-between;
      top: 25px;
      left: 3%;
      background-color: transparent;
      z-index: 99;
      padding: 0 12px 0 64px;
      box-sizing: border-box;
      .lnb {
        flex-direction: row;
        li {
          a {
            font-size: 18px;
            position: relative;
            padding: 8px;
            &:hover::after {
              transform: scaleX(1);
            }
            &::after {
              content: '';
              transition: transform .4s ease-out;
              width: 80%;
              height: 5px;
              position: absolute;
              bottom: 10px;
              left: 10%;
              transform:scaleX(0);
              transform-origin: left;
              background-color: rgba(rgb(179, 0, 0), .6);
            }
          }
        }
      }
      aside {
        margin-top: 0;
        position: fixed;
        right: 3%;
        bottom: 10px;
        // border: 1px solid #333;
        padding: 5px;
        // background-color: rgba(black,.2);
        backdrop-filter: blur(1.5px);
        
        ul {
          width: 180px;
          flex-direction: row;
          li {
            a {
              margin-top: 5px;
              font-weight: 200;
              padding: 0;
              &:hover i {
                color: $sub-color;
              }
              i {
                transition: all .2s;
                font-size: 20px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
    }
  }


  main {
    .section1 {
      .inner {
        .section1-text {
          letter-spacing: 3px;
          .section1-text-top {
            h1 {
              &.section1-text-top-2 {
                margin-top: 8vw;
              }
              span {
                font-size: 17vw;
                mix-blend-mode: difference;
                line-height: 0.2;
              }
            }
          }
          .section1-text-bottom {
            p {
              span {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
    .section2 {
      .inner {
        .section2-1 {
          .section2-text {
            >div {
              &.section2-text-1 {
                >div {
                  flex-direction: row;
                  p {
                    margin-top: 24px;
                    width: calc(100% - 200px);
                    margin-left: 50px;
                  }
                }
              }
              &.section2-text-2 {
                >div {
                  flex-direction: row;
                  p:nth-child(2) {
                    margin-top: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .section5 {
      .inner {
        .text {
          font-size: 30px;
        }
        p {
          font-size: 22px;
        }
      }
    }

  }
  

}

@media (min-width:1200px) {
  main {
    .section1 {
      .inner {
        .section1-text {
          .section1-text-top {
            h1 {
              &.section1-text-top-2 {
                margin-top: 100px;
              }
              span {
                font-size: 200px;
                mix-blend-mode: difference;
              }
            }
          }
          .section1-text-bottom {
            p {
              span {
                font-size: 28px;
              }
            }
          }
        }
      }
    }

  }
}